@use "../core/mixins";

.site-header {
  
  .container {
    @include mixins.body-pad;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    img,
    svg {
      display: block;
      height: 100px;
      width: auto;
    }
  }

}
