@use "../core/vars";

.block-header {
  text-align: var(--text-align, left);
  margin-bottom: calc(0.5 * var(--l-block-pad));

  &--align-center {
    --text-align: center;

    [class^='l-max-width'], 
    [class*=' l-max-width'] {
      margin: auto;
    }
  }

  &--align-right {
    --text-align: right;

    [class^='l-max-width'], 
    [class*=' l-max-width'] {
      margin-inline: auto 0;
    }
  }

  .wysiwyg {
    * {
      text-wrap: balance;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  
  /**
  *     Mobile.
  */
  @media (max-width: vars.$mq-mobile-max) {
    &--align-left-mobile {
      --text-align: left;
    }

    &--align-center-mobile {
      --text-align: center;
    }
  
    &--align-right-mobile {
      --text-align: right;
    }
  }
}