.btn {
  --font-size: 1.125rem;
  --text-color: white;
  --bg-color: var(--c-brand-a);
  --border-color: var(--c-brand-a);

  display: inline-flex;
  align-items: center;
  padding: 0.2em 0.8em;
  margin-right: 1em;
  margin-bottom: 1em;
  text-decoration: none;
  text-align: center;
  font-size: var(--font-size);
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: var(--s-border-radius);
  cursor: pointer;

  svg {
    width: 22px;
    height: 22px;
    margin-right: 0.5em;

    path {
      fill: var(--text-color);
    }
  }

  &:hover {
    box-shadow: 0px 0.15em 0.5em rgba(0,0,0, 0.25);
  }

  /**
  *     Style.
  **/
  &--brand-a {
    --text-color: white;
    --bg-color: var(--c-brand-a);
    --border-color: var(--c-brand-a);

    &:hover,
    &:focus {
      --text-color: var(--c-brand-a);
      --bg-color: white;
      --border-color: white;
    }

    &:active {
      --text-color: white;
      --bg-color: var(--c-brand-a);
      --border-color: var(--c-brand-a);
    }
  }


  &--brand-b {
    --text-color: white;
    --bg-color: var(--c-brand-b);
    --border-color: var(--c-brand-b);

    &:hover,
    &:focus {
      --text-color: var(--c-brand-b);
      --bg-color: white;
      --border-color: white;
    }

    &:active {
      --text-color: white;
      --bg-color: var(--c-brand-b);
      --border-color: var(--c-brand-b);
    }
  }

  &--white {
    --text-color: var(--c-brand-a);
    --bg-color: white;
    --border-color: var(--c-brand-a);

    &:hover,
    &:focus {
      --text-color: white;
      --bg-color: var(--c-brand-a);
      --border-color: var(--c-brand-a);
    }

    &:active{
      --text-color: white;
      --bg-color: var(--c-brand-a);
      --border-color: var(--c-brand-a);
    }
  }

  /**
  *     Size.
  **/
  &--small {
    --font-size: 0.875rem;
    min-height: 30px;
  }

  &--medium {
    --font-size: 1.125rem;
    min-height: 39px;
  }

  &--large {
    --font-size: 1.4375rem;
    min-height: 45px;
  }
}