@use "../core/mixins";

.flexible-content {
  display: grid;
  gap: 1em;


  
  /*
  *   Transitions.
  */
  @media (prefers-reduced-motion: no-preference) {
    #body-wrap & {

      &__image,
      &__video {
        @include mixins.fade-in();
      }

      &__cta {
        @include mixins.fade-up();
      }
      
      &__wysiwyg {
        > .wysiwyg {
          * {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .3s, transform 0.6s cubic-bezier(.24,.84,.37,.99);

            @include mixins.delay-children(40, 0.1s);
          }
        }

        &.animate-on-enter > .wysiwyg > * {
          opacity: 0;
          transform: translateY(60px);
        }
      }
    }
  }
}