.hamburger {
  position: relative;
  width: 2.5rem;
  margin-left: auto;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.1s;

  i {
    width: 100%;
    height: 4px;
    margin: 3px 0;
    display: block;
    border-radius: 3px;
    background: var(--c-text);
    transition: transform .1s, width .2s, background-color .2s;

    &:nth-child(1) {
      transform-origin: 100% 50%;
    }

    &:nth-child(2) {
      transform-origin: 100% 50%;
    }
    
    .nav-is-expanded & {  
      transform-origin: 50% 50%;

      &:nth-child(1) {
        transform: translateY(2px) rotate(45deg) !important;
      }
      &:nth-child(2) {
        transform: translateY(-8px) rotate(-45deg) !important;
      }
    }
  }
  
  &:hover {

  }
}

// .show-primary-nav {
//   overflow: hidden;
// }
