@use '../core/vars';

.image {

  img {
    display: block;
    width: 100%;
  }

  // Only present if turned on for specific image in CMS.
  &__fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-fill);
    pointer-events: none;
  }

  &--border-radius {
    border-radius: var(--s-border-radius);
    overflow: hidden;

    img {
      border-radius: var(--s-border-radius);
    }
  }

  @each $col, $max in vars.$column-widths {
    &[data-cols="#{$max}w"] {
      max-width: #{$max}px;
    }
  }
}