.swiper {
  --swiper-navigation-size: 50px;
  --swiper-navigation-top-offset: calc(50% - var(--l-v-pad) * 0.5);
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-color: var(--c-swiper-navigation-color);

  &__ui {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

/* 
  Custom class for swiper navigation styling to prevent swiper 
  JS bug with multiple instances on a single page when using 
  .swiper-button-prev and .swiper-button-next
*/
[class^="swiper-nav"] {
  width: 47px;
  height: 47px;
  display: grid;
  place-items: center;
  border: 1px solid var(--c-light-grey);
  background-color: var(--c-light-grey);
  cursor: pointer;

  &[disabled] {
    background-color: transparent;
  }

  svg {
    display: block;
    width: 18px;
    height: 18px;
    transition: transform 0.15s ease;
  }

  &.swiper-nav-prev {
    transform: scaleX(-1);
  }

  &:hover:not([disabled]){
    svg {
      transform: scale(1.2);
    }
  }
}