
// Layout
@mixin max-centered($width) {
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
}

// Utils
@mixin no-select {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin visually-hidden {
	position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
	width: 1px; 
  margin: -1px; 
	padding: 0; 
	border: 0; 
}

