
// Layout
@mixin theme-grid {
	--grid-gap: var(--l-gutter-width);

  @media (min-width: $mq-desktop-min) {
    --grid-cols: repeat(12, 1fr);
  }

  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: var(--grid-cols, 1fr);
}

@mixin body-pad {
  padding-left: var(--l-body-pad);
  padding-right: var(--l-body-pad);
}

@mixin block-pad {
	padding-top: var(--l-block-pad);
  padding-bottom: var(--l-block-pad);
}

@mixin max-centered($width) {
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
}

// Utils
@mixin no-select {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin visually-hidden {
	position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
	width: 1px; 
  margin: -1px; 
	padding: 0; 
	border: 0; 
}

@mixin hide-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar { 
		display: none;  /* Safari and Chrome */
	}
}


/**
 *
 * Animations.
 *
 **/
 @mixin fade-up($amount: 60px) {
	opacity: 1;
	transform: translateY(0);
	transition: opacity .4s, transform 0.6s cubic-bezier(.24,.84,.37,.99);

	&.animate-on-enter {
		opacity: 0;
		transform: translateY($amount);
	}
}

@mixin fade-in($speed: 1.5s) {
	opacity: 1;
	transition: opacity $speed;

	&.animate-on-enter {
		opacity: 0;
	}
}

@mixin slide-up($amount: 60px) {
	transform: translateY(0);
	transition: opacity .4s, transform 0.6s cubic-bezier(.24,.84,.37,.99);

	&.animate-on-enter {
		transform: translateY($amount);
	}
} 

@mixin slide-left($amount: 20vw) {
	transform: translateX(0);
	transition: transform 1s cubic-bezier(.24,.84,.37,.99);

	&.animate-on-enter {
		transform: translateX($amount);
	}
}

@mixin delay-children($total: 10, $offset: 0.1s) {
	@for $i from 0 to $total {
		&:nth-child(#{$i}) { transition-delay: $i * $offset; }
	}
}

