@use "vars";

body,
body .block-editor-block-list__layout {
  font: 100 100%/1.5 var(--f-body) !important;
  color: var(--c-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.4em;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2;
  text-wrap: balance;
}

/**
*   Families.
*/
// Title.
.f-title {
  margin: 0 0 0.4em;
  font-family: var(--f-title), sans-serif;
  font-weight: 400;
  line-height: 1.02;
  text-wrap: balance;
}

// Body.
.f-body {
  font-family: var(--f-body), sans-serif;
  font-weight: 400;
}

/**
*   Sizes.
*/
.f-6xl {
  font-size: var(--f-6xl);
}
.f-5xl {
  font-size: var(--f-5xl);
}
.f-4xl {
  font-size: var(--f-4xl);
}
.f-3xl {
  font-size: var(--f-3xl);
}
.f-2xl {
  font-size: var(--f-2xl);
}
.f-xl {
  font-size: var(--f-xl);
}
.f-lg {
  font-size: var(--f-lg);
}
.f-md {
  font-size: var(--f-md);
}
.f-sm {
  font-size: var(--f-sm);
}
.f-xs {
  font-size: var(--f-xs);
}
.f-2xs {
  font-size: var(--f-2xs);
}

p,
address,
table,
li,
button {
  font-family: var(--f-body), sans-serif;
  font-size: var(--f-md);
}

small,
.small {
  font-family: var(--f-body), sans-serif;
  font-size: var(--f-xs);
}

.f-caps {
  text-transform: uppercase;
}