@use "vars";

body,
body .block-editor-block-list__layout {
  font: 100 100%/1.5 var(--f-body) !important;
  color: var(--c-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.4em;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2;
  text-wrap: balance;
}

/**
*   Title.
*/
[class^='f-title'], 
[class*=' f-title'] {
  margin: 0 0 0.4em;
  font-family: var(--f-title), sans-serif;
  font-weight: 400;
  line-height: 1.02;
  text-wrap: balance;
}

.f-title-3xl {
  font-size: var(--f-3xl);
}
.f-title-2xl {
  font-size: var(--f-2xl);
}
.f-title-xl {
  font-size: var(--f-xl);
}
.f-title-lg {
  font-size: var(--f-lg);
}
.f-title-md {
  font-size: var(--f-md);
}
.f-title-sm {
  font-size: var(--f-sm);
}
.f-title-xs {
  font-size: var(--f-xs);
}
.f-title-2xs {
  font-size: var(--f-2xs);
}

/**
*   Body.
*/
[class^='f-body'], 
[class*=' f-body'] {
  font-family: var(--f-body), sans-serif;
  font-weight: 400;
}

.f-body-3xl {
  font-size: var(--f-3xl);
}
.f-body-2xl {
  font-size: var(--f-2xl);
}
.f-body-xl {
  font-size: var(--f-xl);
}
.f-body-lg {
  font-size: var(--f-lg);
}
.f-body-md {
  font-size: var(--f-md);
}
.f-body-sm {
  font-size: var(--f-sm);
}
.f-body-xs {
  font-size: var(--f-xs);
}
.f-body-2xs {
  font-size: var(--f-2xs);
}

p,
address,
table,
li,
button {
  font-size: var(--f-body-md);
}

small,
.small {
  font-size: var(--f-body-xs);
}

.f-caps {
  text-transform: uppercase;
}