
body {
    font: 500 100%/1.4 $f-body;
    color: $c-body;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 0.4em;
    font-family: $f-title;
}

h1,
.h1 {
    @media (min-width: $mq-tablet-min) {

    }

    @media (min-width: $mq-desktop-min) {

    }
}
h2,
.h2 {
    @media (min-width: $mq-tablet-min) {

    }

    @media (min-width: $mq-desktop-min) {

    }
}
h3,
.h3 {
    @media (min-width: $mq-tablet-min) {

    }

    @media (min-width: $mq-desktop-min) {

    }
}
h4,
.h4 {
    @media (min-width: $mq-tablet-min) {

    }

    @media (min-width: $mq-desktop-min) {

    }
}
h5,
.h5 {
    @media (min-width: $mq-tablet-min) {

    }

    @media (min-width: $mq-desktop-min) {

    }
}
h6,
.h6 {
    @media (min-width: $mq-tablet-min) {

    }

    @media (min-width: $mq-desktop-min) {

    }
}

p,
address,
table,
li {
    @media (min-width: $mq-tablet-min) {

    }

    @media (min-width: $mq-desktop-min) {

    }
}
