@use "mixins";


.no-widows {
	white-space: nowrap;
}

.no-transitions {
	* {
		transition: 0s 0s !important;
	}
}

.text-center {
	text-align: center;
}

.visually-hidden {
	@include mixins.visually-hidden;
} 
