// Media Queries.
$mq-mobile-max: 599px;
$mq-tablet-min: 600px;
$mq-tablet-large-min: 760px;
$mq-tablet-max: 1023px;
$mq-desktop-min: 1024px;
$mq-desktop-large-min: 1200px;
$mq-desktop-huge-min: 1400px;

$typography: (
  3xl: unquote("clamp(2.4883rem, 2.2183rem + 1.3499vi, 3.4332rem)"),     // 54.93px
  2xl: unquote("clamp(2.0736rem, 1.8813rem + 0.9614vi, 2.7466rem)"),     // 43.95px
  xl: unquote("clamp(1.728rem, 1.5939rem + 0.6704vi, 2.1973rem)"),       // 35.16px
  lg: unquote("clamp(1.44rem, 1.3492rem + 0.454vi, 1.7578rem)"),         // 28.13px
  md: unquote("clamp(1.2rem, 1.1411rem + 0.2946vi, 1.4063rem)"),         // 22.5px   
  sm: unquote("clamp(1rem, 0.9643rem + 0.1786vi, 1.125rem)"),            // 18px
  xs: unquote("clamp(0.8333rem, 0.8143rem + 0.0952vi, 0.9rem)"),         // 14.4px
  2xs: unquote("clamp(0.6944rem, 0.6871rem + 0.0365vi, 0.72rem)")        // 11.52px
);

$column-widths: (
  11: 1319px,
  10: 1197px,
  9:  1075px,
  8:  954px,
  7:  832px,
  6:  710px,
  5:  589px,
  4:  467px,
  3:  345px,
  2:  224px
);

:root {
  // Typography families.
  --f-title: Arial, sans-serif;
  --f-body: Arial, sans-serif;
  // Typography sizing.
  @each $label, $size in $typography {
    --f-#{$label}: #{$size};
  }

  // COLOURS
  --c-text: #222A41;    // Text colour.
  --c-bg: #fff;    // Background colour.
  --c-border: grey;
  
  --c-red: red;
  --c-green: green;
  --c-blue: blue;

  // LAYOUT  
  --l-body-pad: clamp(15px, 5vw, 30px);    // Horizontal spacing.
  --l-block-pad: clamp(2rem, 10vw, 60px);  // Verical spacing.
  --l-gutter-width: min(5vw, 20px);
  --l-max-width: 1440px;
  
  // Universal styles.
  --s-border-radius: 5px;
  --s-box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  --s-filter-light: brightness(0) invert(1);
  --s-filter-dark: brightness(10%) saturate(0);
  --s-bezier-1: cubic-bezier(.24,.84,.37,.99);
}
