// Media Queries.
$mq-mobile-max: 599px;
$mq-tablet-min: 600px;
$mq-tablet-large-min: 760px;
$mq-tablet-max: 1023px;
$mq-desktop-min: 1024px;
$mq-desktop-large-min: 1200px;
$mq-desktop-huge-min: 1400px;

$column-widths: (
  12: 1440,
  11: 1319,
  10: 1197,
  9:  1075,
  8:  954,
  7:  832,
  6:  710,
  5:  589,
  4:  467,
  3:  345,
  2:  224
);

:root {
  // Typography families.
  --f-title: Arial, sans-serif;
  --f-body: Arial, sans-serif;
  
  // Typography sizing.
  --f-2xs: clamp(0.625rem, 0.58rem + 0.19vi, 0.75rem);  // 10px : 12px
  --f-xs: clamp(0.75rem, 0.70rem + 0.19vi, 0.875rem);   // 12px : 14px
  --f-sm: clamp(0.875rem, 0.83rem + 0.19vi, 1rem);      // 14px : 16px
  --f-md: clamp(1rem, 0.81rem + 0.76vi, 1.5rem);        // 16px : 24px
  --f-lg: clamp(1.5rem, 1.31rem + 0.76vi, 2rem);        // 24px : 32px
  --f-xl: clamp(2rem, 1.81rem + 0.76vi, 2.5rem);        // 32px : 40px
  --f-2xl: clamp(2.5rem, 2.31rem + 0.76vi, 3rem);       // 40px : 48px
  --f-3xl: clamp(2.75rem, 2.47rem + 1.14vi, 3.5rem);    // 44px : 56px
  --f-4xl: clamp(3rem, 2.63rem + 1.52vi, 4rem);         // 48px : 64px
  --f-5xl: clamp(4rem, 3.81rem + 0.76vi, 4.5rem);       // 64px : 72px
  --f-6xl: clamp(4.5rem, 4.31rem + 0.76vi, 5rem);       // 72px : 80px

  // COLOURS
  --c-text: #222A41;    // Text colour.
  --c-bg: #fff;    // Background colour.
  --c-border: grey;
  
  --c-red: red;
  --c-green: green;
  --c-blue: blue;
  --c-white: #fff;

  // LAYOUT  
  --l-body-pad: clamp(15px, 5vw, 30px);    // Horizontal spacing.
  --l-block-pad: clamp(2rem, 10vw, 60px);  // Verical spacing.
  --l-pod-pad: 1.5rem;                     // Padding inside pods/cards.
  --l-gutter-width: min(5vw, 20px);
  --l-max-width: 1440px;
  --l-header-height: 80px;
  
  // Universal styles.
  --s-border-radius: 5px;
  --s-box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  --s-filter-light: brightness(0) invert(1);
  --s-filter-dark: brightness(10%) saturate(0);
  --s-bezier-1: cubic-bezier(.24,.84,.37,.99);
  --s-bezier-2: cubic-bezier(.04,.84,.77,.99);
}

@media (min-width: $mq-desktop-min) {
  :root {
    --l-header-height: 120px;
  }
}
