
.block {
  > .container {
    max-width: var(--l-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  &--center-width {
    > .container {
      @include max-centered(660px);
    }
  }
  
  &--wide-width {
    > .container {
      @include max-centered(1360px);
    }
  }
  
  &--full-width {
    > .container {
      max-width: none; 
    }
  }

  
  &__placeholder {
    width: 100%;
    grid-column: 1 / -1;
    margin: 0;
    padding: var(--l-block-pad);
    text-align: center;
    color: red;
  }
}
