// Vertical spacing.
.block-pad {

  // Quarter.
  &--quarter {
    padding-top: calc(0.25 * var(--l-v-pad));
    padding-bottom: calc(0.25 * var(--l-v-pad));
  }
  
  // Half.
  &--half {
    padding-top: calc(0.5 * var(--l-v-pad));
    padding-bottom: calc(0.5 * var(--l-v-pad));
  }

  // Default.
  @include block-pad;

  // Double.
  &--double {
    padding-top: calc(2 * var(--l-v-pad));
    padding-bottom: calc(2 * var(--l-v-pad));
  }

  // Triple.
  &--triple {
    padding-top: calc(3 * var(--l-v-pad));
    padding-bottom: calc(3 * var(--l-v-pad));
  }


  &--triple-top {
    padding-top: calc(3 * var(--l-v-pad));
  }
  
  &--triple-bottom {
    padding-bottom: calc(3 * var(--l-v-pad));
  }

  &--double-top {
    padding-top: calc(2 * var(--l-v-pad));
  }
  
  &--double-bottom {
    padding-bottom: calc(2 * var(--l-v-pad));
  }

  &--top {
    padding-top: var(--l-v-pad);
  }
  
  &--bottom {
    padding-bottom: var(--l-v-pad);
  }

  &--half-top {
    padding-top: calc(0.5 * var(--l-v-pad));
  }
  
  &--half-bottom {
    padding-bottom: calc(0.5 * var(--l-v-pad));
  }

  &--quarter-top {
    padding-top: calc(0.25 * var(--l-v-pad));
  }
  
  &--quarter-bottom {
    padding-bottom: calc(0.25 * var(--l-v-pad));
  }

  &--zero-top {
    padding-top: 0;
  }
  
  &--zero-bottom {
    padding-bottom: 0;
  }
}

